# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/mediafiles/

# Environment variables
.env
.env.*

# Editor
.vscode/
.idea/
*.suo

# OS
.DS_Store
Thumbs.db
